img{
    display: block;
    height: 530px;
    width: 966px;
    margin: auto;}
p{
    text-align: center;
    font-family: Avenir, 'San Francisco', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: black;}
a{
    text-decoration: none;
    color: black;}
#copy{
    text-transform: none;
    font-size: 12px;}